# Virtual Environment
.venv/
venv/
env/

# Python
__pycache__/
*.py[cod]
*.so

# Environment variables
.env

# Logs
*.log

# Database
*.db
*.sqlite3

# IDE-specific files
.vscode/
.idea/

# OS-specific files
.DS_Store
Thumbs.db

# Large files
*.dylib
*.so
*.dll

# Pytorch specific
torch/
torchaudio/
torchvision/